    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0 auto;
        padding: 0;
    }
    
    body>div>* {
        box-shadow: 0 0 .5em white;
    }
    
    .container {
        padding: 0 10%;
        background-color: rgb(180, 166, 166);
    }
    
    .container>* {
        border: 2vw black solid;
    }
    
    .owl-carousel {
        background: #FFD291;
        margin: auto;
        width: 100%;
        text-align: justify;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.2em;
    }
    
    .owl-carousel h4 {
        text-align: center;
    }
    
    .video-block {
        background: #FFF1C2;
        background-size: contain;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .video-block .drug-name {
        margin: 0;
        align-self: center;
    }
    
    .video-block>* {
        margin: 2% auto;
        box-shadow: 0.1em 0 1em black;
    }
    
    .package-info {
        font-size: 2em;
        font-style: italic;
        justify-self: center;
        text-align: center;
        background: #CECBFF;
    }
    
    .video-block h1 ul {
        font-size: 2em;
        list-style: none;
        display: flex;
        justify-content: center;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 0.5em;
    }
    
    .video-block h1 ul li {
        text-shadow: 0.1em 0.1em 0.2em #A6752F;
        position: relative;
        animation: liAnimateONLoad 2s linear 1s;
    }
    
    .video-block h1 ul li:nth-child(1) {
        animation-delay: 0s;
    }
    
    .video-block h1 ul li:nth-child(2) {
        animation-delay: 0.15s;
    }
    
    .video-block h1 ul li:nth-child(3) {
        animation-delay: 0.30s;
    }
    
    .video-block h1 ul li:nth-child(4) {
        animation-delay: 0.45s;
    }
    
    .video-block h1 ul li:nth-child(5) {
        animation-delay: 0.60s;
    }
    
    .video-block h1 ul li:nth-child(6) {
        animation-delay: 0.75s;
    }
    
    .video-block h1 ul li:nth-child(7) {
        animation-delay: 0.9s;
    }
    
    @keyframes liAnimateONLoad {
        0% {
            top: 0;
        }
        10% {
            transform: translateY(-80%);
        }
        50% {}
        100% {
            top: 0;
        }
    }
    
    .video-block h1 {
        margin-top: 0;
        width: 100%;
    }
    
    .video {
        width: 40%;
        height: fit-content;
        align-self: center;
    }
    
    .video video {
        width: 100%;
        display: block;
    }
    
    .offer-button {
        width: 40%;
        position: relative;
    }
    
    .offer-button img:nth-child(1) {
        width: 100%;
        display: block;
    }
    
    .offer-button img:nth-child(2) {
        position: absolute;
        top: 30%;
        left: 50%;
        width: 35%;
    }
    
    .offer-button .order {
        width: 40%;
        position: absolute;
        height: 10%;
        background: #FFE591;
        bottom: 25%;
        right: 10%;
        font-size: 3em;
        text-transform: uppercase;
        text-align: center;
        border-radius: 1em;
        color: #ec33fd;
        animation: orderAnimate 2s linear infinite reverse;
    }
    
    @keyframes orderAnimate {
        0% {}
        100% {
            transform: scale(1.2, 1.2);
            color: #3B34A6;
            background-color: #A6752F;
        }
    }
    
    footer {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 2em;
        background: #C7E3FF;
    }
    
    footer h2 {
        width: 40%;
        align-self: center;
        justify-content: center;
    }
    
    form {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
    }
    
    footer form>* {
        width: 80%;
        margin-bottom: 0.5em;
    }
    
    footer form input,
    footer form select {
        height: 2em;
        font-size: 1em;
        border: 0.1em solid black;
        border-radius: 0.4em;
    }
    
    footer form .selects {
        justify-content: space-around;
    }
    
    footer form select {
        width: 49.3%;
    }
    
    footer form input:last-of-type {
        height: 3em;
        width: 50%;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
        background-color: gray;
    }
    
    footer form input:last-of-type:hover {
        background-color: whitesmoke;
        color: black;
        transition: 1s linear;
    }
    
    .price {
        display: flex;
        font-style: italic;
        font-size: 1.5em;
    }
    
    .price div {
        width: 75%;
    }
    
    .price img {
        width: 20%;
    }
    
    .price span {
        font-size: 1.5em;
        color: rgb(165, 19, 19);
        animation: priceanimate 1s infinite;
    }
    
    @keyframes priceanimate {
        from {
            transform: scale(1, 1);
            color: initial;
        }
        50% {
            transform: scale(1.4, 1.4);
            color: green;
        }
        to {
            transform: scale(1, 1);
        }
    }
    
    .countdown {
        font-size: 2em;
        font-weight: 700;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    @media screen and (max-width: 768px) {
        .container {
            padding: 0;
        }
        .offer-button .order {
            font-size: 1.5em;
        }
        footer {
            font-size: 1em;
        }
    }
    
    @media screen and (max-width: 425px) {
        .video {
            width: 100%;
        }
        .offer-button {
            width: 100%;
        }
        .offer-button .order {
            font-size: 2em;
        }
        footer {
            text-align: center;
            flex-wrap: wrap;
            padding-bottom: 10%;
        }
        footer h2 {
            width: 100%;
        }
        form {
            width: 100%;
            justify-content: space-around;
        }
        footer form .selects {
            width: 100%;
            justify-content: space-around;
        }
       .video-block h1 ul li {
            font-size: 0.8em;
            letter-spacing: 0.5em;
        }
    }
    
    @media screen and (max-width: 375px) {
        body {
            overflow-x: hidden;
        }
        .video-block h1 ul li {
            font-size: 0.8em;
            letter-spacing: 0.5em;
        }
    }
    
    @media screen and (max-width: 325px) {
        body {
            font-size: 0.8em;
        }
        .video-block h1 ul li {
            font-size: 0.8em;
            letter-spacing: 0.3em;
        }
    }
